@model Volunteer
@{
    ViewData["Title"] = "Welcome to Gawad Kalinga";
}
<div class="profile-card">
    <div class="profile-top">
        <div>
            <div class="profile-title">
                Profile
            </div>
        </div>
        <a asp-controller="Events" asp-action="AllEvents" class="profile-edit">
            Edit
        </a>
    </div>

    <div class="profile-body">
        <div class="profile-qr-container">
            <div class="profile-qr">
                <img id="qr-code-image" src="@ViewBag.QRCodeImageUrl" alt="QR Code" />
            </div>
            <div class="profile-save-qr-container">
                <a class="profile-save-qr" id="save-qr-link" href="#">Save QR</a>
            </div>
        </div>
        <div class="profile-info-container">
            <div class="profile-name">
                @ViewBag.LastName, @ViewBag.FirstName
            </div>
            <div class="profile-info">
                <div class="profile-info-left">
                    <div class="profile-text-left">
                        Volunteer ID:
                    </div>
                    <div class="profile-text-left">
                        Email:
                    </div>
                    <div class="profile-text-left">
                        Mobile Number:
                    </div>
                    <div class="profile-text-left">
                        Birthdate:
                    </div>
                    <div class="profile-text-left">
                        Gender:
                    </div>
                    <div class="profile-text-left">
                        Location:
                    </div>
                    <div class="profile-text-left">
                        Year Started:
                    </div>
                    <div class="profile-text-left">
                        Date Created:
                    </div>
                    <div class="profile-text-left">
                        Last Updated:
                    </div>
                    <div class="profile-text-left">
                        Email Notifications:
                    </div>
                </div>
                <div class="profile-info-right">
                    <div class="profile-text-right">
                        @ViewBag.VolunteerID
                    </div>
                    <div class="profile-text-right">
                        @ViewBag.Email
                    </div>
                    <div class="profile-text-right">
                        @ViewBag.MobileNumber
                    </div>
                    <div class="profile-text-right">
                        @ViewBag.BirthDate.ToString("yyyy-MM-dd")
                    </div>
                    <div class="profile-text-right">
                        @ViewBag.Gender
                    </div>
                    <div class="profile-text-right">
                        @ViewBag.Barangay, @ViewBag.Town, @ViewBag.Province, @ViewBag.Country
                    </div>
                    <div class="profile-text-right">
                        @ViewBag.YearStarted.ToString()
                    </div>
                    <div class="profile-text-right">
                        @ViewBag.CreatedDate.ToString()
                    </div>
                    <div class="profile-text-right">
                        @ViewBag.LastUpdateDate.ToString()
                    </div>
                    <div class="profile-text-right">
                        @(ViewBag.IsNotify ? "Enabled" : "Disabled")
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-info-container" hidden>
            <div class="profile-centered">
                <div class="profile-horizontal">
                    <div class="profile-textbox">
                        <label>First Name</label>
                        <input asp-for="FirstName" class="form-control profile-forminput">
                    </div>
                    <div class="profile-textbox">
                        <label>Last Name</label>
                        <input asp-for="LastName" class="form-control profile-forminput">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="profile-textbox">
                    <label>Email Address</label>
                    <input asp-for="Email" class="form-control profile-forminput">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="profile-textbox">
                    <label>Phone Number</label>
                    <input asp-for="MobileNumber" class="form-control profile-forminput">
                    <span asp-validation-for="MobileNumber" class="text-danger"></span>
                </div>
                <div class="profile-textbox">
                    <label>Birthday</label>
                    <input asp-for="BirthDate" class="form-control profile-forminput" type="date">
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="profile-textbox">
                    <label>Gender</label>
                    <select asp-for="Gender" class="form-control profile-forminput">
                        <option value="" selected disabled hidden>Select Gender:</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                @* TODO: Connect their given db *@
                <div class="profile-textbox">
                    <label>Country</label>
                    <input asp-for="Country" class="form-control profile-forminput">
                </div>
                <div class="profile-textbox">
                    <label>Province Code</label>
                    <input asp-for="PROV_CODE" class="form-control profile-forminput">
                </div>
                <div class="profile-textbox">
                    <label>Town Code</label>
                    <input asp-for="TOWN_CODE" class="form-control profile-forminput">
                </div>
                <div class="profile-textbox">
                    <label>Barangay Code</label>
                    <input asp-for="BRGY_CODE" class="form-control profile-forminput">
                </div>
                <div class="profile-textbox">
                    @* TODO: Make year only *@
                    <label>Year Started as GK Volunteer?</label>
                    <input asp-for="YearStarted" class="form-control profile-forminput">
                    <span asp-validation-for="YearStarted" class="text-danger"></span>
                </div>
                <br>
                <div class="profile-notify-container">
                    <label class="profile-notify">Enable Email Notifications</label>
                    <input type="checkbox" class="profile-checkbox" />
                </div>
                <br>
                <div class="profile-button">
                    <a class="profile-discard-button">Discard Changes</a>
                    <a class="profile-save-button">Save Changes</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Get a reference to the "Save QR" link and the QR code image
    const saveQrLink = document.getElementById("save-qr-link");
    const qrCodeImage = document.getElementById("qr-code-image");

    // Add a click event handler to the "Save QR" link
    saveQrLink.addEventListener("click", function (e) {
        e.preventDefault(); // Prevent the default link behavior

        // Create a new anchor element to trigger the download
        const downloadLink = document.createElement("a");

        // Combine the Volunteer ID with "qr-code.png" to create the filename
        const fileName = `${@ViewBag.VolunteerID}-qr-code.png`;

        downloadLink.href = qrCodeImage.src;
        downloadLink.download = fileName; // Specify the filename for the downloaded image

        // Trigger a click event on the download link
        downloadLink.click();
    });
</script>
