@model Volunteer
@{
    ViewData["Title"] = "Welcome to Gawad Kalinga";
}
<div class="profile-card">
    <div class="profile-top">
        <div>
            <div class="profile-title">
                Profile
            </div>
        </div>
        <button id="editButton" class="profile-edit" asp-controller="Events" asp-action="edit_profile">
            Edit
        </button>
    </div>

    <div class="profile-body">
        <div class="profile-qr-container">
            <div class="profile-qr">
                <img id="qr-code-image" src="@ViewBag.QRCodeImageUrl" alt="QR Code" />
            </div>
            <div class="profile-save-qr-container">
                <a class="profile-save-qr" id="save-qr-link" href="#">Save QR</a>
            </div>
        </div>
        <div id="profile_info" class="profile-info-container">
            <div class="profile-name">
                @ViewBag.LastName, @ViewBag.FirstName
            </div>
            <div class="profile-info">
                <div class="profile-info-left">
                    <div class="profile-text-left">
                        Volunteer ID:
                    </div>
                    <div class="profile-text-left">
                        Email:
                    </div>
                    <div class="profile-text-left">
                        Mobile Number:
                    </div>
                    <div class="profile-text-left">
                        Birthdate:
                    </div>
                    <div class="profile-text-left">
                        Gender:
                    </div>
                    <div class="profile-text-left">
                        Location:
                    </div>
                    <div class="profile-text-left">
                        Year Started:
                    </div>
                    <div class="profile-text-left">
                        Date Created:
                    </div>
                    <div class="profile-text-left">
                        Last Updated:
                    </div>
                    <div class="profile-text-left">
                        Email Notifications:
                    </div>
                </div>
                <div class="profile-info-right">
                    <div class="profile-text-right">
                        @ViewBag.VolunteerID
                    </div>
                    <div class="profile-text-right">
                        @ViewBag.Email
                    </div>
                    <div class="profile-text-right">
                        @ViewBag.MobileNumber
                    </div>
                    <div class="profile-text-right">
                        @ViewBag.BirthDate.ToString("yyyy-MM-dd")
                    </div>
                    <div class="profile-text-right">
                        @ViewBag.Gender
                    </div>
                    <div class="profile-text-right">
                        @ViewBag.Barangay, @ViewBag.Town, @ViewBag.Province, @ViewBag.Country
                    </div>
                    <div class="profile-text-right">
                        @ViewBag.YearStarted.ToString()
                    </div>
                    <div class="profile-text-right">
                        @ViewBag.CreatedDate.ToString()
                    </div>
                    <div class="profile-text-right">
                        @ViewBag.LastUpdateDate.ToString()
                    </div>
                    <div class="profile-text-right">
                        @(ViewBag.IsNotify ? "Enabled" : "Disabled")
                    </div>
                </div>
            </div>
        </div>
            <form asp-controller="Volunteer" asp-action="Save_Profile_Changes" method="post" id="profile_settings" class="profile-info-container">
                <div class="profile-centered">
                    <div class="profile-horizontal">
                        <div class="profile-textbox">
                            <label>First Name</label>
                            <input asp-for="FirstName" class="form-control profile-forminput" value="@ViewBag.FirstName">
                        </div>
                        <div class="profile-textbox">
                            <label>Last Name</label>
                            <input asp-for="LastName" class="form-control profile-forminput" value="@ViewBag.LastName">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="profile-textbox">
                        <label>Email Address</label>
                        <input asp-for="Email" class="form-control profile-forminput" value="@ViewBag.Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="profile-textbox">
                        <label>Phone Number</label>
                        <input asp-for="MobileNumber" class="form-control profile-forminput" value="@ViewBag.MobileNumber">
                        <span asp-validation-for="MobileNumber" class="text-danger"></span>
                    </div>
                    <div class="profile-textbox">
                        <label>Birthday</label>
                        <input asp-for="BirthDate" class="form-control profile-forminput" type="date" value="@((ViewBag.BirthDate as DateTime?)?.ToString("yyyy-MM-dd"))">
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="profile-textbox">
                        <label>Gender</label>
                        <select asp-for="Gender" class="form-control profile-forminput">
                            <option value="Male" selected="@(ViewBag.Gender == "Male")">Male</option>
                            <option value="Female" selected="@(ViewBag.Gender == "Female")">Female</option>
                        </select>

                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    @* TODO: Connect their given db *@
                    <div class="profile-textbox">
                        <label>Country</label>
                        <input asp-for="Country" class="form-control profile-forminput" value="@ViewBag.Country">
                    </div>
                    <div class="profile-textbox">
                        <label>Province Code</label>
                        <input asp-for="PROV_CODE" class="form-control profile-forminput" value="@ViewBag.Province">
                    </div>
                    <div class="profile-textbox">
                        <label>Town Code</label>
                        <input asp-for="TOWN_CODE" class="form-control profile-forminput" value="@ViewBag.Town">
                    </div>
                    <div class="profile-textbox">
                        <label>Barangay Code</label>
                        <input asp-for="BRGY_CODE" class="form-control profile-forminput" value="@ViewBag.Barangay">
                    </div>
                    <div class="profile-textbox">
                        @* TODO: Make year only *@
                        <label>Year Started as GK Volunteer?</label>
                        <input asp-for="YearStarted" class="form-control profile-forminput" value="@ViewBag.YearStarted">
                        <span asp-validation-for="YearStarted" class="text-danger"></span>
                    </div>
                    <br>
                    <div class="profile-notify-container">
                        <label class="profile-notify">Enable Email Notifications</label>
                        <input type="checkbox" asp-for="IsNotify" class="profile-checkbox" checked= "@(ViewBag.IsNotify ? "checked" : null)" />
                    </div>
                    <br>
                    <div class="profile-button">
                        <a asp-controller="Volunteer" asp-action="Profile" id="discardButton" class="profile-discard-button">Discard Changes</a>
                        <button type="submit" class="profile-save-button">Save Changes</button>
                    </div>
                </div>
            </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    // Get a reference to the "Save QR" link and the QR code image
    const saveQrLink = document.getElementById("save-qr-link");
    const qrCodeImage = document.getElementById("qr-code-image");

    // Add a click event handler to the "Save QR" link
    saveQrLink.addEventListener("click", function (e) {
        e.preventDefault(); // Prevent the default link behavior

        // Create a new anchor element to trigger the download
        const downloadLink = document.createElement("a");

        // Combine the Volunteer ID with "qr-code.png" to create the filename
        const fileName = `${@ViewBag.VolunteerID}-qr-code.png`;

        downloadLink.href = qrCodeImage.src;
        downloadLink.download = fileName; // Specify the filename for the downloaded image

        // Trigger a click event on the download link
        downloadLink.click();
    });

    $(document).ready(function () {
        $("#profile_info").show();
        $("#profile_settings").hide();
        $("#editButton").click(function () {
            $("#profile_info").hide();
            $("#editButton").hide();
            $("#profile_settings").show();
        });
    });
</script>
