@{
    ViewData["Title"] = "Welcome to Gawad Kalinga";
}

<div class="one-event-card">
    <div class="one-event-top">
        <div class="one-event-top-container">
            <div class="one-event-title">
                @ViewBag.EventInfo.EventName
            </div>
			<a asp-controller="Events" asp-action="EditOneEvent" asp-route-EventID="@ViewBag.EventInfo.EventID" class="one-event-edit material-symbols-outlined">

                Edit
            </a>
        </div>
        <a asp-controller="Events" asp-action="AllEvents" class="one-event-back">
            <- Back to Events
        </a>
    </div>

    <div class="one-event-button">
        <a asp-controller="Events" asp-action="VolunteerList">Volunteer List</a>
    </div>

    <div class="one-event-body">
        <img src="">
        <p>@ViewBag.EventInfo.EventLongDesc</p>

        <div class="one-event-container">
            <div class="one-event-date">
                <strong>Date:</strong> @ViewBag.EventInfo.EventDate.ToString("MM/dd/yyyy")
            </div>
            <div class="one-event-time">
                <strong>Time:</strong> @ViewBag.EventInfo.EventDate.ToString("hh:mm tt")
            </div>
            <div class="one-event-location">
                <strong>Location:</strong> @ViewBag.EventInfo.EventLocation
            </div>
        </div>

        <div class="one-event-container">
            <p><strong>Organizers:</strong></p>
            <div class="one-event-contact">
                @foreach (var organizer in ViewBag.Organizers)
                {
                <div>
                    <div class="one-event-contact-name">
                        @organizer.Name
                    </div>
                    <div class="one-event-contact-number">
                        @organizer.PhoneNumber
                    </div>
                    <div class="one-event-contact-email">
                        @organizer.Email
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
